body {
  position: relative;
  padding-top: 60px;
}

@media (max-width: 480px) {
  body {
    padding-top: 70px;
  }
}

@media (max-width: 768px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 980px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}